*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}
.nav-bar{
    background-color: #112d4e;
    font-size: 2em;
    overflow: hidden;
    list-style-type: none;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-bar li{
    float: left;
    padding: 0.2em;
    transition: all 0.3s;
}
.nav-bar li:last-of-type{
    float: right;
}
.nav-bar a{
    color: #f5f5f5;
    text-decoration: none;
}
.nav-bar li:hover{
    background-color: #f08a5d;
}

/*HERO SECTION */
.hero-header{
    height: 90vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url(../img/hero.jpg);
    background-attachment: fixed;
}
.hero-header h2, h3{
    position: absolute;
    width: 100%;
    text-align: center;
    color: #f5f5f5;
    transform: translate(-50%, -50%);
}
.hero-header h2{
    top: 40%;
    left: 50%;
    font-size: 8em;
    letter-spacing: 0.1em;
    
}
.hero-header h3{
    top: 50%;
    left: 50%;
    font-size: 3em;
    letter-spacing: 0.15em;
}
/*SKILLS SECTION */

.skills-section{
    background-color: #311d3f;
}
.skills-section h1{
    color: #f5f5f5;
    margin: auto;
    text-align: center;
    font-size: 3em;
    padding: 0.3em;
    letter-spacing: 0.2em;
}
.main-row{
    display: flex;
    justify-content: space-around;
}
.main-col{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.tech-desc-container{
    display: flex;
    font-size: 2em;
}
.tech-desc-container i{
    padding-top: 0.1em;
    padding-right: 0.2em;
    color: #f08a5d;
}
.tech-desc-container p{
    color: #f08a5d;
}
.stars{
    display: flex;
    justify-content: flex-start;
}
.stars img{
    width: 2em;
    height: 2em;
    margin-top: 0.5em;
    margin-right: 0.3em;
}
.main-row-projects{
    display: flex;
    justify-content: space-around;
}

.section-projects h1{
    color: #f08a5d;
    margin: auto;
    text-align: center;
    font-size: 3em;
    padding: 0.3em;
    letter-spacing: 0.2em;
}
.project-card{
    margin-top: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border: 0.05em solid;
    border-radius: 1%;
    margin-bottom: 1em;
    width: 20%;
    transition: all 0.3s;
}
.project-card:hover{
    -webkit-box-shadow: 6px 6px 6px 0px rgba(17,45,78,1);
    -moz-box-shadow: 6px 6px 6px 0px rgba(17,45,78,1);
    box-shadow: 6px 6px 6px 0px rgba(17,45,78,1);
    
}
.name-field{
    padding: 0.2em;
    display: flex;
    justify-content: space-between;
}
.name-field > p{
    font-size: 2em;
    padding-top: 0.3em;
}
.name-field i{
    padding-right: 0.5em;
    padding-top: 0.1em;
    color: #f08a5d;
    font-size: 3em;
    
}
.tech{
    padding: 0.2em;
    display: flex;
    justify-content: flex-start;
}
.tech i{
    padding-right: 0.4em;
    color: #6a2c70;
    font-size: 2em;
}
.links{
    padding: 0.2em;
    display: flex;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    color: #f08a5d;
    transition: all 0.3s;
    font-size: 2em;
}
.links a:hover{
    color: #311d3f;
}
@media screen and (max-width: 600px){
    .nav-bar li{
        float: none;
        text-align: center;
        
    }
    .nav-bar li:last-of-type{
        float: none;
    }
    .hero-header h2{
        font-size: 4em;
    }
    .tech-desc-container{
        display: flex;
        font-size: 1.5em;
    }
    .stars img{
        width: 1.5em;
        height: 1.5em;
    }
    .main-row{
        display: flex;
        justify-content: center;
    }
    .main-col{
        margin-top: 0.5em;
        margin-bottom: 1em;
        margin-right: 3em;   
    }
    .main-row-projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-card{
        width: 60%;
    }
}
